#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center elements horizontally */
  font-family: sans-serif; /* Set a default font */
}
.container{
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center elements horizontally */
  margin-top: 20px; /* Add some top margin */
  width: 50%; /* Adjust width as needed */
  
  
  
  height:250px;
  
}

.card-view {
  /* Styles for the flashcard itself */
  background-color: #d2cbcb;
  padding: 20px;
  width: 100%; /* Take full width inside the container */
  padding-top: 50px;
  border: 5px #d2cbcb;
  border-radius: 5px;
  height:270px;
  
  
}

#wrong {
  background-color:rgb(228, 18, 18);
}

#correct {
  background-color:rgb(21, 194, 30);
}

.card-view:hover{
  cursor:pointer;
  transform: scale(1.0);
}

.card-view:active{
  transform: scale(0.95);
}



.button-container{
  display:flex;
  justify-content: space-between;
}

button {
  border: 1px solid rgba(247, 8, 12, 0.913);
  border-radius: 5px ;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-right: 25px;
  width: 100px;
  line-height: 0.5;
  height:35px;
  
}



